#!/usr/bin/env bash

DIRENV_WARN_TIMEOUT=20s
NIX_DIRENV_URL="https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc"
NIX_DIRENV_SHA="sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
NIX_DIRENV_FALLBACK_NIX=/nix/var/nix/profiles/default/bin/nix

# ----------------------------------------------------------------------------
# nix-direnv: direnv with better caching for nix
# ----------------------------------------------------------------------------
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "$NIX_DIRENV_URL" "$NIX_DIRENV_SHA"
fi

use flake .
